{% extends 'template.html.twig' %}

{% block PageTitle %}Hello PersonneController!{% endblock %}

{% block body %}
    {# {{dump(personne)}} #}
    {# {{ form(form, {'method': 'GET'}) }} #}

    {{ form_start(form) }}
    <div class="row">
        <div class="col">{{ form_row(form.name) }}</div>
        <div class="col">{{ form_row(form.firstname) }}</div>
    </div>
    {{ form_rest(form) }}

    {# <div class="alert alert-success">
        {{personne.name}} {{personne.firstname}}  a été créé.
    </div> #}

{% endblock %}
